
/***********************
     **Purple color**
         #8e44ad
**********************/



/***********************
     **GENERAL THINGS**
**********************/

* {
 margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Lato' , 'Arial' , sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}
 
.row {
    max-width: 1140px;	
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

.box{
	padding: 1%;
}

.clearfix{zoom: 1}
.clearfix:after{
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/***********************
     **Headings**
**********************/


h1,h2,h3{
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	
}

h1{
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 200%;
	word-spacing: 4px;
}

h2{
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
    margin-bottom: 30px;
}

h2:after{
	display: block;
	height: 2px;
	background-color: #8e44ad;
	content: " ";
	width: 100px;
	margin: 0 auto;
	
    margin-top: 30px;
}

h3{
	font-size: 120%;
	margin-bottom: 15px;
}


/***********************
     **Features**
**********************/

.section-features .long-text{
	margin-bottom: 35px;
}



/***********************
     **PARAGRAPHS**
**********************/

.long-text{
	 line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

.box p{
	font-size: 90%;
	line-height: 145%;
}

/***********************
     **HEADER**
**********************/

header{
	background-image:linear-gradient(rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73)) , url(img/CwCFbeQS9JeCC6WunpFgYD.jpg);  
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero-text-box{
	position: absolute;
	width 1140px;
	top : 50%;
	left : 45%;
    transform: translate(-50%,-50%);
}

.main-nav{
	float: right; 
	list-style: none;
    margin-top: 45px;
}

.main-nav li{
    display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 95%;
   border-bottom: 2px solid transparent;
    transition: border-bottom 0.15s;
}

.main-nav li a:hover, 
.main-nav li a:active{
	border-bottom: 2px solid #8e44ad ;
     	
}

/***********************
     **ICONS**
**********************/

.icon-big{
	font-size: 350%;
	display: block;
	color: #8e44ad;
	margin-bottom: 10px;
}

.icon-small {
	display: inline-block;
	width: 30px;
	text-align: center;
	color:  #8e44ad;
	font-size: 125%;
	margin-right: 10px;
	
	/* 3 ways to align a text with an icon (font)
	   */
	
	line-height: 125%;
	vertical-align:middle;
	margin-top: -5px;
	
}

/***********************
     **Phones showcase**
**********************/

.section-phones {
	padding: 0;
}


.phones-showcase{
	list-style: none;
	width: 100%;
}

.phones-showcase li{
	display: block;
	float: left; 
	width: 25%;
}

.phones-photo{
	width: 100%;
    
	/* normalize ydir l margin alors lazam nriglo 3labiha*/
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.phones-photo img{
	opacity: 0.7;
	width: 100%;
	height: 400px;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
}

.phones-photo img:hover{
	opacity: 1;
	transform: scale(1.02);
}

/***********************
     **how it works**
**********************/

.section-how-it-works{
	background-color: #f4f4f4;
}
.steps-box{
    margin-top: 70px;	
	padding-left: 20%;.
	text-align: center;
	 
}

.work-steps{
	margin-bottom: 55px;
}

.work-steps div{
 	color :#8e44ad;
    border: 2px solid #8e44ad;
	display: inline-block;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	text-align: center;
	padding: 5px;
	float: left;
	font-size: 150%;
	margin-right: 25px;
}

/*---------------------------------------*/
/* OUR CITIES */
/*---------------------------------------*/


.box img{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.city-features{
	margin-bottom: 5px
}


/*---------------------------------------*/
/* LINKS */
/*---------------------------------------*/

a:link,
a:visited {
	color:  #8e44ad;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid  #8e44ad;
	
}

a:hover,
a:active{
	color: #555;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.2s color 0.2s;
}



 /*-----BUTTONS-----*/

.btn:link,
.btn:visited,
input[type=submit]{
	
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s , border 0.2s , color 0.2s;    
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
	 background-color: #8e44ad;
    border: 1px solid #8e44ad;
	color: #fff;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
	border: 1px solid #8e44ad;
	color : #8e44ad;
	
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
	background-color: rgb(165, 59, 209);
}

.btn-full:hover,
.btn-full:active,
{
    border: 1px solid #8e44ad;

}

.btn-ghost:hover,
.btn-ghost:active{
	border: 1px solid #8e44ad;
	color : #fff;
	
}


/*---------------------------------------*/
/* SIGN UP */
/*---------------------------------------*/

.section-plans{
	background-color:#f4f4f4;
}

.plan-box {
	background-color: #fff;
	border-radius: 5x;
	width: 90%;
	margin-left: 5%;
	box-shadow: 0 2px 2px #f0ecec; 
}

.plan-box div {
	padding: 15px;
	border-bottom: 1px solid #ebeaea;
}


.plan-box div:first-child {
     background-color: #fffcfc;
	 border-top-left-radius: 5px;	 
	 border-top-right-radius: 5px;	 
}

.plan-box div:last-child {
	text-align: center;
	border: none;
}


.plan-box div:last-child {
	text-align: center;
}

.plan-price {
	font-size: 250%;
	margin-bottom: 10px;
	font-weight: 300;
	color: #8e44ad;
}

.plan-price span {
	font-size: 30%;
	font-weight: 300; 
}

.plan-price-meal {
	font-size: 80%;
	
}

.plan-box ul {
	list-style: none;
	
}

.plan-box ul li {
	padding: 5px 0;
}


/*---------------------------------------*/
/* FORM */
/*---------------------------------------*/

.contact-form {
	width: 60%;
	margin: 0 auto;
}

input[type=text], input[type=email], select, textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc ;
}

 
textarea {
	height:  100px;
}


input[type=checkbox]{
	margin: 10px 5px 10px 0;
}

*:focus{
	outline: none;
}


/*---------------------------------------*/
/* FOOTER */
/*---------------------------------------*/


footer{
	background-color: #3c3c3c;
	padding:50px;
	font-size: 80%;
}

.footer-nav{
	list-style: none;
	float: left;
}

.social-links{
   list-style: none;
	float: right;
}

.footer-nav li,
.social-links li{
	display: inline-block;
    margin-right: 20px; 
}

.footer-nav li:last-child,
.social-links li:last-child{
	margin-right: 0;
}


.footer-nav li a:link ,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited 
{
   text-decoration: none;
	border: 0;
	color: #888;
  transition: color 0.2s;
}


.footer-nav li a:hover,
.footer-nav li a:active{
	color: #d8d8d8;
	
}

.social-links li a:link,
.social-links li a:visited{
	font-size: 160%;
	
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
	transition: color 0.2s;
}

.ion-social-facebook:hover{
	color: #3b5998;
}

.ion-social-twitter:hover{
	color: #55acee;
}

.ion-social-googleplus:hover{
	color: #dd4b39;
}

.ion-social-instagram:hover{
	color: #4c68d7;
}

footer p{
	text-align: center;
	color: #888;
	margin-top: 50px; 
}
